@page
@model DetailsModel

@{
    ViewData["Title"] = "Подробнее";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationContractMaterials.types_of_products_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.TypesOfProductsList.Where(x => x.TypesOfProductsId == Model.SpecificationContractMaterials.types_of_products_id).FirstOrDefault().Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationContractMaterials.count_of_matherials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecificationContractMaterials.count_of_matherials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationContractMaterials.price_per_unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecificationContractMaterials.price_per_unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationContractMaterials.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecificationContractMaterials.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationContractMaterials.units_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.UnitsList.Where(x => x.Units_ID == Model.SpecificationContractMaterials.units_id).FirstOrDefault().Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-docid="@Model.SpecificationContractMaterials.doc_id" asp-route-id="@Model.SpecificationContractMaterials?.id">Редактировать</a> |
    <a asp-page="./Delete" asp-route-docid="@Model.SpecificationContractMaterials.doc_id" asp-route-id="@Model.SpecificationContractMaterials?.id">Удалить</a> |
    <a asp-page="../Details" asp-route-id="@Model.SpecificationContractMaterials.doc_id">Вернуться к списку</a>
</div>