@page
@model ASU_Degesta.Pages.Handbooks.TypesOfProducts.IndexModel

@{
    ViewData["Title"] = "Справочник виды изделий";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Справочник виды изделий</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-page="Create">Создать</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypesOfProducts[0].TypesOfProductsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesOfProducts[0].Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.TypesOfProducts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypesOfProductsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.TypesOfProductsId">Редактировать |</a>
                    <a asp-page="./Delete" asp-route-id="@item.TypesOfProductsId">Удалить |</a>
                }
                <a asp-page="./Details" asp-route-id="@item.TypesOfProductsId">Подробнее</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-page="../Index">Назад в список</a>