@page
@using ASU_Degesta.Models.SalesDepartment
@using ASU_Degesta.Models.ProductionDepartment
@using ASU_Degesta.Models.Accounting
@using ASU_Degesta.Models.PED
@model ASU_Degesta.Pages.PED.ReportProductsCost.CreateModel

@{
    ViewData["Title"] = "Создать новый отчёт о себестоимости единицы продукции";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ReportProductCost_id.doc_id" class="form-control d-none" value="mg"/>
            </div>
            <div class="form-group">
                <label asp-for="ReportProductCost_id.doc_name" class="control-label"></label>
                <input asp-for="ReportProductCost_id.doc_name" class="form-control"/>
                <span asp-validation-for="ReportProductCost_id.doc_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Specification_id" class="control-label"></label>
                <select class="form-select" asp-for="@Model.Specification_id" asp-items="@(new SelectList(Model.Specifications, nameof(SpecificationContractMaterials_id.doc_id), nameof(SpecificationContractMaterials_id.doc_name)))"></select>
                <span asp-validation-for="@Model.Specification_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ReportMatherialCosts_id" class="control-label"></label>
                <select class="form-select" asp-for="@Model.ReportMatherialCosts_id" asp-items="@(new SelectList(Model.ReportMatherialCosts, nameof(ReportMatherialCosts_id.doc_id), nameof(ReportMatherialCosts_id.doc_name)))"></select>
                <span asp-validation-for="@Model.ReportMatherialCosts_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ReportProductPlan_id" class="control-label"></label>
                <select class="form-select" asp-for="@Model.ReportProductPlan_id" asp-items="@(new SelectList(Model.ReportProductPlan, nameof(ReportProductPlan_id.doc_id), nameof(ReportProductPlan_id.doc_name)))"></select>
                <span asp-validation-for="@Model.ReportProductPlan_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.payroll_statement_id" class="control-label"></label>
                <select class="form-select" asp-for="@Model.payroll_statement_id" asp-items="@(new SelectList(Model.payroll_statement, nameof(payroll_statement_name_id.doc_id), nameof(payroll_statement_name_id.doc_name)))"></select>
                <span asp-validation-for="@Model.payroll_statement_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ReportProductCost_id.creation_date" class="form-control d-none" value="mg"/>
            </div>
            <div class="form-group">
                <input asp-for="ReportProductCost_id.creator" class="form-control d-none" value="mg"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку</a>
</div>