@page
@model DeleteModel

@{
    ViewData["Title"] = "Удалить запись " + Model.payroll_statement.employee_name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>

    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payroll_statement.employee_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payroll_statement.employee_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payroll_statement.employee_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payroll_statement.employee_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payroll_statement.salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payroll_statement.salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payroll_statement.bonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payroll_statement.bonus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payroll_statement.total_accrued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payroll_statement.total_accrued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payroll_statement.withheld)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payroll_statement.withheld)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payroll_statement.to_issue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payroll_statement.to_issue)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="payroll_statement.id"/>
        <input type="submit" value="Удалить" class="btn btn-danger"/> |
        <a asp-page="../Details" asp-route-id="@Model.payroll_statement.doc_id">Вернуться к списку</a>
    </form>
</div>