@page
@model DetailsModel

@{
    ViewData["Title"] = "Подробнее";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportCostsProductionCapacity.EquipmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.EquipmentsList.Where(x => x.EquipmentId == Model.ReportCostsProductionCapacity.EquipmentId).FirstOrDefault().EquipmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportCostsProductionCapacity.types_of_products_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.TypesOfProductsList.Where(x => x.TypesOfProductsId == Model.ReportCostsProductionCapacity.types_of_products_id).FirstOrDefault().Name)
        </dd>
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ReportCostsProductionCapacity.costs)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ReportCostsProductionCapacity.costs)
                </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-docid="@Model.ReportCostsProductionCapacity.doc_id" asp-route-id="@Model.ReportCostsProductionCapacity?.id">Редактировать</a> |
    <a asp-page="./Delete" asp-route-docid="@Model.ReportCostsProductionCapacity.doc_id" asp-route-id="@Model.ReportCostsProductionCapacity?.id">Удалить</a> |
    <a asp-page="../Details" asp-route-id="@Model.ReportCostsProductionCapacity.doc_id">Вернуться к списку</a>
</div>